/* Navbar content */


body{
    margin: 0%;
}

.navbar{
    background: #333333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    font-family:'Roboto Slab', serif;
    position: sticky;
    top: 0;
    z-index: 999;
    height: 50px;
}

.navbar_container{
    display: flex;
    list-style-type: none;
    margin: 15px;
}

.navbar_container>li{
    padding-bottom: 3px;
}

.navbar_container>li:hover {
    border-bottom: 2px solid #bfbfbf;
    height: 21px;
}
/* sous menu */

.services {
    position: relative;
    /* Pour positionner le sous menu par rapport à son parent ".services" */
}

.sous-menu {
    list-style-type: none;
    position: absolute;
    top: 40px;
    left: -250px;
    width: 500px;
    max-height: 0px ;
    /* Pour cacher le sous menu */
    overflow: hidden;
    /* Pour cacher le contenu du sous menu */
    transition: max-height 0.25s ease;
    /* transition appliquée sur la propriété max-height */
    padding: 0;
    margin: 5px 0;
}

.services:hover>.sous-menu {
    max-height: 400px;
    /* Pour afficher le menu après le "hover" */
}

.sous-menu>li {
    text-align: center;
    background-color: #4d4d4d;
    line-height: 1.5em;
    font-size: 0.8em;
    padding: 5px 0;
    border: 1px #b3b3b3 solid;
}

.sous-menu>li>a {
    text-decoration: none;
    display: inline-block;
    width: 100%;
    color: #fff;
}

.sous-menu>li:hover {

}

.type_sous{
    opacity: 0.7;
}

.type_sous:hover{
    opacity: 1;
}

/* sousmenu */

.item, .type{
    color: white;
    padding: 10px;
    text-decoration: none;
    list-style: none;
}

.item {
    color: white;
    padding: 10px;
    text-decoration: none;
    list-style: none;

}

.log {
    color: white;
    background-color: #ff8177;
    border-radius: 10px;
    padding: 9px;
    margin-right: 20px;
    text-decoration: none;
}

.log:hover {
    background: #4837ff;
}


.searchbar_container {
    background: none;
    border-radius: 10px;
    border: none;
    padding: 5px;
    width: 250px;
    color: white;
}

.search {
    border: 2px solid #bfbfbf;
    border-radius: 10px;
    opacity: 0.5;
    padding: 5px;

}

.search:hover {
    opacity: 1;
}

.fa-magnifying-glass {
    color: white;
}

.fa-basket-shopping {
    padding: 5px;
}


.logo {
    text-decoration: none;
    color: white;
    margin-right: 200px;
    margin-left: 20px;
}

.cotedroit {
    display: flex;
    align-items: center;
}


.parent {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px 5px;
    grid-template-areas:
    ". . ."
    ". . .";
    text-align: center;

}

.div1 {
    grid-column: 1 / 2;
    grid-row: 1;
    border: 1px solid black;
    width: 400px;
    height: 400px;

}

.div2 {
    grid-column: 2 / 3;
    grid-row: 1;
    border: 1px solid black;
    width: 400px;
    height: 400px;
}

.div3 {
    grid-column: 3 / 4;
    grid-row: 1;
    border: 1px solid black;
    width: 400px;
    height: 400px;
}

.div4 {
    grid-column: 1 / 2;
    border: 1px solid black;
    width: 400px;
    height: 400px;
}

.div5 {
    grid-column: 2 / 3;
    border: 1px solid black;
    width: 400px;
    height: 400px;
}

.div6 {
    grid-column: 3 / 4;
    border: 1px solid black;
    width: 400px;
    height: 400px;
}

.img {
    width: 250px;
    height: 250px;
    position: relative;
    left: 0px;

}

/*button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 70px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
} */

/* Footer section */


.pdp{

    bottom: 0;
    width: 100%;
    background-color: #333333;

}



.pdp_info{
    background-color: #333333 ;
    display: flex;
    justify-content: center;
}

.fa-facebook, .fa-twitter, .fa-linkedin, .fa-instagram{
    color: white;
    opacity: 0.6;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 3px;
    justify-content: center;
    font-size: 1.1rem;
}
.fa-facebook{
    padding-left: 45%;
}

a:link {
    text-decoration: none;
}

.item2{
    display: inline-block;
    margin: 5px;
    text-decoration: none;
    list-style: none;
    color: white;
    padding: 5px;

}


.mention{
    background-color: #272727 ;
    color: white;
    opacity: 0.5;
}





