td{
    border: 1px solid black;
    border-spacing: 10px;
}

.title{
    text-align: left;
}
.img_prod{
    width:150px;
    height:150px;
    object-fit: cover;
    position:relative;
    box-sizing: border-box;
    max-width: 100%;
    max-height: 100%;
    display: block;
}
