.photo_product{
    grid-area: photo;
}

.img_product{
    width:500px;
    height:500px;
    object-fit: cover;
    position:relative;
    box-sizing: border-box;
    max-width: 100%;
    max-height: 100%;
    display: block;
}


.nom_part{
    grid-area: nom;
    text-align: left;
}



.prix_part{
    grid-area: prix;
    text-align: left;
    margin-bottom: 50px;

}
.quantite{
    font-size: 15px;
    color: black;
}

.prix {
    font-size: 50px;
    color: #26ad63;
}
.add_to_cart{
    grid-area: panier;
    font-size: medium;
    color: white;
    align-items: center;
    align-content: center;
    text-align: center;
}

.addcart{
    grid-area: panier;
    border-radius: 10px;
    width: 200px;
    height: auto;
    padding: 15px;
    margin-top: 10px;
    background-color: #26ad63;
}



.spec_part{
    grid-area: spec;
    font-size: medium;
    text-align: left;
}


.desc_part{
    grid-area: description;
    max-width: 800px;
}

.description_prod{
    font-size: large;
    overflow: visible;
    color:black;
    text-align: justify;
}


.title_info{
    margin-top: 10px;
    text-align: left;
    color:black;
    text-decoration: underline;
}



.grid_info_prod{
    grid-area:info;
    display: grid;
    justify-content: center;
    grid-template-areas:
    'nom'
    'prix'
    'description'
    'spec'
    'panier';
}

.grid-container_product{
    display: grid;
    position: relative;
    grid-template-areas:
    'photo info info';
    gap: 10px;
    padding: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    grid-template-columns: 40% 60%;
}

.grid-container_product > div {
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}