/* Navbar content */
body {
    margin: 0%;
}

.navbar {
    background: #333333;
    display: flex;
    position : relative;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    font-family: 'Roboto Slab', serif;
    position: sticky;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 50px;
}

.navbar_container {
    display: flex;
    list-style-type: none;
    margin: 15px;
    padding-top: 7px;
    height: auto ;
}

.navbar_container > li {
    padding-bottom: 3px;

}

/* navbar container2 */


.navbar_container2{
    display: none;
    border : 1px black solid;
    position: sticky;
    top: 50px;
    opacity: 0.9;
    margin: 0;
    padding: 0px;
    z-index: 998;
    text-align: center;
    list-style-type: none;
    background: #4d4d4d;
    width: 100%;
    bottom: 50px;
}
.navbar_container2:hover{
    opacity: 1;
}
.services2 {
    position: relative;
    /* Pour positionner le sous menu par rapport à son parent ".services" */

}





.type2{
    color: white;
}
.services2:hover > .sous-menu2 {

    max-height: 400px;
    /* Pour afficher le menu après le "hover" */
}

.sous-menu2 > li {
    position: relative;
    text-align: center;
    background-color: #333333;
    line-height: 1.5em;
    font-size: 0.8em;
    padding: 5px;
    list-style-type: none;
    right: 10px;
}

.sous-menu2 > li > a {
    text-decoration: none;
    display: inline-block;
    width: 200px;
    color: #fff;
}

.type_sous2 {
    opacity: 0.7;
}

.type_sous2:hover {
    opacity: 1;
}

.navbar__toggle{
    display : none;
}
@media screen and (max-width: 790px){
    .navbar{
        display: flex;
    }

    .navbar__toggle{
        display : block;
        margin: 10px;
    }
    .tirait{
        cursor: pointer;
        margin-bottom: 5px;
        margin-right: 0px;
    }

    .tirait_sous{
        display: block;
        border-bottom: #ffffff 2px solid;
        height: 6px;
        width: 30px;
    }

    .navbar_container{
        display: none;
    }

    .navbar_container .is-active .tirait_sous:nth-child(2) {
        opacity: 0;
    }

    .navbar_container .is-active .tirait_sous:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .navbar_container .tirait_sous:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }



}


.logo {
    display: flex;
    text-decoration: none;
    color: white;
    margin-left: 20px;

}


/* sous menu */

.services {
    position: relative;
    /* Pour positionner le sous menu par rapport à son parent ".services" */


}

.services:hover {
    border-bottom: 2px solid #bfbfbf;
    height: 25px;
    margin: 0;
    padding: 0;
}


.sous-menu {
    list-style-type: none;
    position: absolute;
    top: 32px;
    left: -250px;
    width: 500px;
    max-height: 0px;
    /* Pour cacher le sous menu */
    overflow: hidden;
    /* Pour cacher le contenu du sous menu */
    transition: max-height 0.25s ease;
    /* transition appliquée sur la propriété max-height */
    padding: 0;
    margin: 5px 0;
}

.services:hover > .sous-menu {
    max-height: 400px;
    /* Pour afficher le menu après le "hover" */
}

.sous-menu > li {
    text-align: center;
    background-color: #4d4d4d;
    line-height: 1.5em;
    font-size: 0.8em;
    padding: 5px 0;
    border: 1px #b3b3b3 solid;
}

.sous-menu > li > a {
    text-decoration: none;
    display: inline-block;
    width: 100%;
    color: #fff;
}



.type_sous {
    opacity: 0.7;
}

.type_sous:hover {
    opacity: 1;
}

/* sousmenu */


.item {
    color: white;
    padding: 10px;
    text-decoration: none;
    list-style: none;
    align-content: center;
}

.type {
    color: white;
    padding: 10px;
    text-decoration: none;
    list-style: none;
    align-content: center;
}


.log {
    display: flex;
    color: #ffffff;
    background-color: #ff8177;
    border-radius: 10px;
    padding: 9px;
    margin-right: 20px;
    height: 42px;

}

.log:hover {
    background: #4837ff;
}

.fa-arrow-right-to-bracket{
    margin: 3px;
}


.searchbar_container {
    background: none;
    border-radius: 5px;
    border: none;
    padding: 0px;
    width: 250px;
    color: white;
    height: 28px;
    outline-style: none;
    align-items: center;
}

.search {
    display: flex;
    border: 2px solid #bfbfbf;
    border-radius: 6px;
    opacity: 0.5;
    padding: 3px;
    height: 35px;
}

.search_prod{
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid black;
    padding: 15px;
    top: 55px;
    width: 350px;

}

.plus{
    display: block;
    text-align: center;
    color: white;
    background-color: #4d4d4d;
    padding: 10px;
    cursor: pointer;
}



.formulaire {
    display: flex;
    height: 35px;
}


.search:hover {
    opacity: 1;
}

.fa-magnifying-glass {
    color: white;
}

.fa-basket-shopping {
    padding: 5px;
    cursor: pointer;
    transform: scale(1);
    transition: transform 400ms;
}

.fa-basket-shopping:hover {
    transform: scale(1.12)
}




.cotedroit {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

/* slogan+texte */



.titre {
    background-color: #f2f2f2;
    letter-spacing: 6px;

}

* {box-sizing:border-box}

.centrer {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.test{
    border: 1px solid white;
    height: 40px;
    width: 200px;
    outline: none;
    position: absolute;
    background: rgba(0, 0, 0, 0.747);
    color: white;
    padding: 8px;
    letter-spacing: 3px;
    cursor: pointer;
    align-items: center;
    font-size: 1.1rem;
    bottom: 40%;
    left: 10%;
   
}



.slog{
    text-align: left;
    position: absolute;
    font-size: 2.5rem;
    bottom: 55%;
    left: 10%;
    letter-spacing: 3px;

}

.slog2{
    position: relative;
  
    font-size: 2.9rem;
    margin: 10px;
    padding: 10px;
    color: white;
    
}
.slog3{
    display: block;
    position: absolute;
    text-align: center;
    bottom: 32%;
    left: 48%;
    color: white;
  
    padding: 10px;
}

.slog3>div{
    margin: 10px;
}

.slog4{
    font-family: Arial, Helvetica, sans-serif;
  
}

.aprop{
    color : black;
    background-color: #8fed8fac;
    border: none;
    color: black;
    padding: 7px;
    font-size: 20px;
}

/* Slideshow container */
.slideshow-container {
    max-width: 100%;

    position: relative;
    margin: 30px;
}





/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: relative;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.box, .box2, .box3{
    margin: 0%;
}

.box{
    display : flex;
}

.box2{
    margin-top: 50px;
    display: none;
    background: black;
    height:400px;
    width: 100%;
    border-radius : 30px;
}

.box3{
    display: none;
}

.click{
    z-index: 500;
    position: absolute;
    background-color: lightgray;
    opacity: 0.8;
    border: none;
    top: 43%;
    text-decoration: none;
    color: black;
    margin: 5px;
    width: 50px;
    border-radius: 50px;
    height: 50px;
    font-size: 1.05rem;
    font-weight: 300;
    cursor: pointer;
}

.click2{
    position: absolute;
    left: 94%;
    top: 43%;
    background-color: lightgray;
    opacity: 0.7;
    border: none;
    text-decoration: none;
    color: black;
    width: 50px;
    border-radius: 50px;
    height: 50px;
    font-size: 1.05rem;
    font-weight: 300;
    cursor: pointer;
}


/* Main content */

/* media queries */


@media screen and (max-width: 1000px) {
    .searchbar_container {
        background: none;
        border-radius: 10px;
        border: none;
        padding: 0px;
        width: 100%;
        color: white;
        outline-style: none;
    }
}


/* Main content */
.forme {
    display: flex;
    height: 500px;
}

.form1{
    position: relative;
    background-color: white;
    height: 500px;
    width: 70%;
    border-bottom-right-radius: 250px ;
    border-top-right-radius: 250px ;
    box-shadow: 150px 0 0 0 white;
}

.imgpoire{
    position: relative;
}

.form2{
    background-color: #333333;
    height: 100%;
    width: 40%;
    color: white;
    letter-spacing: 4px;
    font-size: 2em;
    text-align: center;
    vertical-align: center;
}


.parent {
    display: grid;
    grid-template-columns: 10px repeat(2, 1fr) 10px;
    grid-template-rows: 10px 1fr 10px;
    grid-column-gap: 18px;
    grid-row-gap: 18px;
    background-color: #f2f2f2;
    border: 3px solid rgb(199,199,199);
    margin-left: 150px;
    margin-right: 150px;
    border-radius: 30px;
}



.gauche{
    grid-area: 2 / 2 / 3 / 3;
    background-image: url("img/poire.jpg");
    background-size: 60%;
    background-position: center;
    padding: 100px;
    height: 250px;
}

.droite {
    grid-area: 2 / 3 / 3 / 4;

    border: 3px solid #339966;
    border-radius: 30px;
    padding: 100px;
    font-size: 40px;
    letter-spacing: 4px;
}

.droite_sous{
    font-size: 15px;
}


.parent2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 18px;
    grid-row-gap: 18px;

    border: 3px solid rgb(199,199,199);
    margin-left: 150px;
    padding: 20px;
    margin-right: 150px;
    border-radius: 30px;
}

.gauche2 {
    grid-area: 1 / 1 / 2 / 2;
    border: 3px solid #339966;
    border-radius: 30px;
    padding: 100px;
    text-align: center;
    font-size: 40px;
    letter-spacing: 4px;

}

.gauche2_sous{
    font-size: 15px;
}


.droite2 {
    grid-area: 1 / 2 / 2 / 3;
    background-image: url("img/aubergine.jpg");
    background-size: 60%;
    background-position: center;
    border-radius: 30px;

}



.frleg {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    gap: 20px;
    margin: 2em;
}

/* Grid inside grid - album cards also use grid for layout setup */
.frlegs {
    background: white;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    padding: 1.5em;
    border-radius: 1em;
    display: grid;
    grid-template-columns: 150px 1fr;
    gap: 1.5em;
    align-items: center;
    color: black;
    font-weight: 100;
}


/* Important step - image will spill over the container if width is not declared explicitly */
.frleg_img {
    width: 150px;
    height: 150px;
    border-radius: 1px;
}



.frleg_provenance {
    opacity: 0.7;
    text-transform: uppercase;
    margin-bottom: .5em;
    font-style: oblique;
    letter-spacing: .7px;
    font-family: Arial;
}

@media screen and (max-width: 1050px) {
    .frlegs{
        display : block;
    }
}




/* Footer section */

.push{
    height: 800px;
}


.pdp {
    display: inline-block;
    bottom: 0;
    width: 100%;
    background-color: #333333;

}


.pdp_info {
    background-color: #333333;
    display: flex;
    justify-content: center;
}

.fa-facebook, .fa-twitter, .fa-linkedin, .fa-instagram {
    color: white;
    opacity: 0.6;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 3px;
    justify-content: center;
    font-size: 1.1rem;
}

.fa-facebook {
    padding-left: 45%;
}

a:link {
    text-decoration: none;
}

.item2 {
    display: inline-block;
    margin: 5px;
    text-decoration: none;
    list-style: none;
    color: white;
    padding: 5px;

}


.mention {
    background-color: #272727;
    color: white;
    opacity: 0.5;
}

@media screen and (max-width: 909px){
    .item2{
        display: block;
        font-size: 1.1rem;
        text-align: center;
    }
}


.color {
    color: #876f83;
}

a {
    color: black;
}


