.all{
    border: 1px solid black;

}

.header{
    display: flex;
    justify-content: space-between;
    background-color: aqua;
}


.header_sous{
    display : flex;
    width: 50%;

}

.header, .produits{
    margin: 5px;
    padding: 3px;

  
}

.header_sous>div{
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.produits{
    display: flex;
    justify-content: space-between;
    background-color: white;
}

.imgprod{
    background-color: white;
    height: 100px;
    width: 100px;
    margin-right: 13px;
}

.total{
    position: relative;
    left: 80%;
    margin: 5px;
    padding: 5px;
    background-color: lightblue;
    width: 150px;
}




.bas{
    display : flex;

}


.retour{
    border: 1px solid black;
    opacity: 0.7;
    border-radius: 3px;
    padding: 5px;
}
.retour:hover{
    opacity: 1;
}

.commande{
    position: relative;
    left : 71%;
    border: 1px solid black;
    opacity: 0.7;
    border-radius: 3px;
    padding: 5px;
    background-color: #009900;
}


@media screen and (max-width : 1070px) {
    .inpute{
        width: 100%;
    }
    .produits{
        display : block;
        position: relative;
        text-align: center;
        align-items: center;
    }
}